<ion-header>
  <ion-toolbar>
    <ion-title text-center>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <app-loading *ngIf="!posts"></app-loading>

  <div id="profile-info" *ngIf="username">   
    
  <ion-row padding>
      <!-- Avatar -->
      <ion-col col-3>
        <img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/" class="avatar" alt="">
      </ion-col>
      <ion-col no-padding col-8>
          <button class="edit-button" routerLink="/tabs/edit-profile">Edit your profile</button>
          <p><b>{{ username }}</b></p>
          <p no-padding no-margin class="info">Software developer, open-source lover, invoker spammer & heavy metal guitarist</p>
        </ion-col>
  </ion-row>

  <ion-row no-padding no-margin>
    
  </ion-row>

  <div padding>
        
  </div>
  
  <div id="images" *ngIf="posts">
    <div class="image" *ngFor="let post of posts">
      <ion-img class="main-image" (click)="goTo(post)" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/center/"></ion-img>
    </div>
  </div>
  </div>
</ion-content>
